name: Build

on:
  workflow_call:
  workflow_dispatch:

jobs:
  build-uberjar:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup
      - run: lein uberjar
