name: CI

on:
  push:
    branches: [master]
  pull_request:
  workflow_dispatch:

jobs:
  checks-and-build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 8
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '8'

      - name: Set up Leiningen
        uses: DeLaGuardo/setup-clojure@ada62bb3282a01a296659d48378b812b8e097360 # 13.2
        with:
          lein: '2.9.1'

      - name: Cache Clojure dependencies
        uses: actions/cache@v4
        with:
          key: cljdeps-${{ hashFiles('project.clj') }}
          path: ~/.m2/repository
          restore-keys: cljdeps-

      - name: Checks
        uses: ./.github/actions/checks

      - name: Build
        uses: ./.github/actions/build
