name: CI

on:
  push:
    branches: [master]
  pull_request:
  workflow_dispatch:

jobs:
  checks:
    uses: ./.github/workflows/checks.yml

  build:
    needs: checks
    uses: ./.github/workflows/build.yml
