name: Deployment to Heroku

on:
  workflow_dispatch:

jobs:
  checks:
    uses: ./.github/workflows/checks.yml

  build:
    uses: ./.github/workflows/build.yml
    with:
      upload: true

  upload-to-heroku:
    needs:
      - build
      - checks
    runs-on: ubuntu-latest
    environment: nhl-score-api
    steps:
      - uses: actions/checkout@v6

      - name: Set up Heroku CLI
        run: |
          curl https://cli-assets.heroku.com/install.sh | sh
          heroku plugins:install java

      - name: Configure Heroku
        env:
          HEROKU_API_KEY: ${{ secrets.HEROKU_API_KEY }}
        run: heroku git:remote --app ${{ vars.HEROKU_APP_NAME }}

      - name: Download uberjar
        uses: actions/download-artifact@v6
        with:
          name: target-directory
          path: target

      - name: Deploy to Heroku
        env:
          HEROKU_API_KEY: ${{ secrets.HEROKU_API_KEY }}
        run: ./deploy.sh
